@page "{cityName}"
@model tp2_web_development_.net_and_database.Pages.Tp12.CityManager.CityDetailsModel
@{
	ViewData["Title"] = "Detalhes da Cidade Turística";
}

<div class="card">
	<h2>Você está vendo detalhes de: @Model.CityName</h2>
</div>